In [2]:
%load_ext autoreload
%autoreload 2

from scraper import Scraper
# from scraper import PaddleScraper
import time

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
b=Scraper()
b.get_info()

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [11]:
b={
    'name':['peter'],
    'price':[6],
    'food':['apple']
}

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect 
list = []
my_dict = {}
my_dict['name'] = '$Jack'
my_dict['age'] = 26
my_dict2 = {}
my_dict2['name'] = '$Jane'
my_dict2['age'] = 24
my_dict3 = {}
my_dict3['name'] = '$Joojoo'
my_dict3['age'] = 26
my_dict4 = {}

list.append(my_dict)
list.append(my_dict2)
list.append(my_dict3)
print(list)
print(type(list))
df = pd.DataFrame (list, columns = ['name','age'])
df['name'] = df['name'].str.strip('$')
df.head()
engine = create_engine('postgresql+psycopg2://postgres:Feja0331@scraper.c0w7tms6lrlr.eu-west-2.rds.amazonaws.com/scraper')
inspect(engine)
df.to_sql('test2',engine,if_exists='append')

[{'name': '$Jack', 'age': 26}, {'name': '$Jane', 'age': 24}, {'name': '$Joojoo', 'age': 26}]
<class 'list'>

3

In [13]:
a_table=pd.DataFrame(b)
a_table
engine=create_engine('postgresql+psycopg2://postgres:Feja0331@scraper.c0w7tms6lrlr.eu-west-2.rds.amazonaws.com/scraper')
inspect(engine).get_table_names()
a_table.to_sql('b_table',engine)

ValueError: Table 'b_table' already exists.

In [7]:
a_table

    name  price   food
0  peter      6  apple